/*== FOOTER ==*/
.footer__logo .main-logo img {
    max-height: 110px;
}
.footer__area, .footer__area p {
    color: #fff;
}
.footer__area .widget-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.footer__widget-menu ul {
    padding-left: 20px;
    list-style-type: disc;
}
.footer__widget-menu ul li {
    list-style-type: disc;
    line-height: normal;
    margin-bottom: 15px;
}
.footer__widget-menu ul li:last-child {
    margin-bottom: 0;
}
.footer__widget-menu ul li a {
    text-transform: capitalize;
}
.footer__widget-contact .inf li {
    margin-bottom: 15px;
    line-height: normal;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.footer__widget-contact .inf i {
    font-size: 14px;
    transform: translateY(3px);
}
ul.social-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 50%;
}
ul.social-list li img {
	width: 21px;
	height: 21px;
    object-fit: contain;
}
.footer__copyright {
    background-color: #110B51;
    color: #fff;
}
.footer__copyright p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.fixed-contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.fixed-contact ul li .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-main);
    border-radius: 7px;
    border: 1px solid #fff;
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.fixed-contact img {
    width: 55%;
}
.progress-wrap {
    bottom: 40px !important;
}
/*== POPUP CONTACT  ==*/
#popupContact .modal-dialog{
    max-width: 1000px;
}
#popupContact .btn-close {
    position: absolute;
    top: 5px;
    color: #fff;
    right: 5px;
    filter: brightness(0) invert(1);
}
#popupContact .col-left .title {
    font-size: 24px !important;
}
#popupContact .col-right .content {
    padding: 60px 30px !important;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
#popupContact .modal-body {
    padding: 0px;
}
#popupContact .modal-content {
    border: none;
}
.popup__contact-wrapper {
    display: flex;
}
.popup__contact-wrapper .col-left {
    width: 60%;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup__contact-wrapper .col-right {
    width: 40%;
}
/*== END POPUP CONTACT  ==*/

@media (max-width: 769px){
    #popupContact .modal-dialog {
        max-width: 96%;
    }
    .popup__contact-wrapper .col-left {
        padding-right: 15px;
        padding-left: 0px;
        width: 50%;
    }
    .popup__contact-wrapper .col-right {
        width: 50%;
    }
}

@media (max-width: 767px){
    .footer__area .widget-title {
        margin-bottom: 15px;
    }
    .footer__copyright p {
        font-size: 14px;
    }
    .footer__copyright {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 641px){
    #popupContact .col-left {
        width: 100%;
    }
    #popupContact .col-right {
        display: none;
    }
    #popupContact .btn-close {
        filter: none;
    }
}